
table{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 20px;
    width: 800px;

}

table th{
    border: 1px solid black;
}

caption{
    border: 2px solid black;
    margin: 1px;
    background-color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
table, th, td{
    margin: 2px;
    border-collapse: collapse;
}
.tables{ 
    width: 800px;
    height: 400px;
    padding: 20px;
    font-family: 'Times', serif, Arial;
    border: 1px solid black;
    background-color: yellowgreen;
    margin-left: auto;
    margin-right:auto;
    margin-top: 20px;

}
th, td {
    background-color: white;
    float: none;
}
td{
    border: 1px solid black;
    width: 400px;
    padding: 5px;
}


